[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
matplotlib = "*"
mpmath = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pandas-stubs = "*"
polars = "*"
pyarrow = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
statsmodels = "*"

[dev-packages]
jupytext = "*"

[requires]
