[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.3"
pandas = "==2.2.0"
polars = "==0.20.5"
matplotlib = "==3.7.4"
seaborn = "==0.12.2"
notebook = "*"
jupytext = "*"

[dev-packages]

[requires]
python_version = "3.11"
